body{
    font-family: "Montserrat", sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px;
}
.caixa{
    position: relative;
    width: 80%;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px ; 
}

nav a{
    text-transform: uppercase;
    color:#000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color:#C78C19;
    text-decoration: underline;
    transition: 0.1s all; 
}

.imagem{
    width: 75%;
    transition: 0.4s all; 
}

.imagem:hover{
    width: 80%;
    animation: pulsante 3s linear infinite;
    transition: 0.4s all; 
    
}

@keyframes pulsante{
    0%{
        transform: scale(0.8);
        opacity: 1;
    }
    25%{
        transform: scale(1);
        opacity: 0.8;
    }
    50%{
        transform: scale(0.8);
        opacity: 1;
    }
    75%{
        transform: scale(1);
        opacity: 0.8;
    }
    100%{
        transform: scale(0.8);
        opacity: 1;
    }

}

.produtos{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}
.produtos li:hover{
   border-color: #C78C19;
   transition: 0.4s all; 
}

.produtos li:hover h2{ 
    border-color: #C78C19;
    transition: 0.4s all; 
    font-size: 35px;
 }

.produtos li:active{
    border-color: #088c19;
 }

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}
.produto-descricao{
    font-size: 18px;
}
.produto-preco{
    font-weight: bold;
    font-size: 22px;
    margin: 10px 0 0;
}
footer{
    text-align: center;
    background: url("/assets/bg.jpg");
    padding: 40px 0px;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

@media screen and (max-width: 480px){
    .produtos{
        width: auto;
        width: 95%;
    }
    .caixa{
        width: 100%;
    }
    nav{
        position: static;
    }
    h1{
        text-align: center;
    }
    .imagem{
        width: 80%;
    }
    .produtos li{
        margin: 10px 10px;
        width: 95%;

    }
}