#banner{
    width: 100%;
    height: 250px;
}
.principal{
    padding: 20px;
}
.titulo-centralizado{
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}
#texto{
    text-align: left;
    margin: 10px 10px 10px;
    font-size: 20px;
    color: #050978;
}
#missao{
    font-size: 23px;
    margin: 0px 10px 0px;
    color: #050978;
}
em strong{
    color: #FF0000;
}
.itens{
    font-style: italic;
    font-size: 25px;
    padding: 20px;
    font-weight: bold;
    margin-left: 15%;
}
.Beneficios{
    background: #edf0f5;
    padding: 20px;
}
.tipos_bnf{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 3%;
}
#cortando{
    align-items: right;
    width: 290px;
    height:250px;
    padding: 20px;
    border-radius: 45%;
}
header {
    background: #BBBBBB;
    padding: 20px;
}
.caixa{
    position: relative;
    width: 80%;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline;
    margin: 0 0 0 15px; 
}
nav a{
    text-transform: uppercase;
    color:#000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
nav a:hover{
    color:#C78C19;
    text-decoration: underline;
}
footer{
    text-align: center;
    background: url("/assets/bg.jpg");
    padding: 40px 0px;
}
.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}